.upload__avatar-wrapper {
    position: relative;
}
.avatar-loaded_container {
    position: relative;
    max-height: 300px;
    width: 100%;
    margin: 4px 0px;
}
.avatar-loaded_item {
    display: flex;
    justify-content: center;
    width: 100%;
}
.avatar-loaded_item img {
    object-fit: contain;
    height: 300px;
    width: 300px;
}