:root {
    --post-viewer-mobile-width: 320px;
}
/* Small screen ================================================================= */
@media screen and (max-width: 939px) {
    .modal-post-viewer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 22;
    }
    .post-viewer-main{
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: inherit;
        background: var(--background-dark);
    }
    .modal-post-viewer-overlay{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
        z-index: 21;
        overflow: hidden;
    }
    .modal-post-viewer-close {
        position: absolute;
        top: 10px;
        left: 16px;
        color: var(--text-color-dark);
        z-index: inherit;
        font-size: 1.8rem;
        cursor: pointer;
    }
    .modal-post-viewer-close:hover {
        color: var(--color-white-f8)
    }
    .pvm__image{
        position: relative;
        display: block;
        float: left;
        max-height: var(--post-viewer-mobile-width);
        min-width: var(--post-viewer-mobile-width);
        width: 100%;
        background: #000;
    }
    .pvm__image-img{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit:  scale-down;
        left: 50%;
        transform: translateX(-50%);
    }
    .pvm__body {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: auto;
        right: 0;
        top: 0;
        min-width: var(--post-viewer-mobile-width);
        height: 100%;
        float: right;
    }
    .pvm__body::-webkit-scrollbar-track
    {
        background: var(--background-dark);
    }
    
    .pvm__body::-webkit-scrollbar
    {
        width: 8px;
        background: var(--background-dark);
    }
    
    .pvm__body::-webkit-scrollbar-thumb
    {
        background: var(--navbar-dark-hover);	
    }

    .pvm__body__header{
        position: relative;
        display: flex;
        padding: 12px 12px 0;
        justify-content: space-between;
        font-size: 1.5rem;
        height: 52px;
        width: 100%;
        color: var(--text-color-dark);
    }
    .pvm__body__header-artist{
        display: flex;
    }
    .pvm__body__header-artist-img{
        width: 40px;
        height: 40px;
    }
    .pvm__body__header-artist-img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .pvm__body__header-artist-info{
        margin-left: 12px;
    }
    .pvm__body__header-artist-name{
        color: inherit;
        text-decoration: none;
    }
    .pvm__body__header-artist-bluetick{
        position: relative;
        font-size: 1.2rem;
        color: var(--color-primary);
    }
    .pvm__body__header-artist-bluetick i {
    
    }
    .pvm__body__header-artist-time{
        font-size: 1rem;
    }
    .pvm__body__header-option{
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s ease;
    }
    .pvm__body__header-option:hover {
        background: var(--navbar-dark-hover);
    }
    
    .pvm__body__header-option{
        position: relative;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s ease;
    }
    .pvm__body__header-option::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: -10px;
        width: 60px;
        height: 22px;
    }
    .pvm__body__header-option:hover {
        background: var(--navbar-dark-hover);
    }
    .pvm__body__header-option:hover .pvm__body__header-option-dropdown {
        display: flex;
    }
    .pvm__body__header-option-dropdown{
        position: absolute;
        display: none;
        right: 0;
        top: 34px;
        min-width: 90px;
        z-index: 1;
        background: var(--background-dark);
        flex-direction: column;
        border-radius: 6px;
        border: 1px solid var(--border-dark);
        align-items: center;
        transition: all 0.2s ease;
    }
    .pvm__body__header-option-dropdown-item {
        font-size: 1.3rem;
        width: calc(100% - 4px);
        padding: 0 6px;
        border-radius: 4px;
        margin: 2px 2px;
    }
    .pvm__body__header-option-dropdown-item:hover {
        background: var(--navbar-dark-hover);
    }
    .pvm__body__content {
        padding: 0 12px; 
        font-size: 1.3rem;
        line-height: 18px;
        margin: 6px 4px;
        color: var(--text-color-dark);
    }
    .pvm__body__footer{
        color: var(--text-color-dark);
    }
    .pvm__body__footer-react{
        display: flex;
        justify-content: space-between;
        margin: 6px 12px;
        padding-bottom: 12px;
        font-size: 1.2rem;
        border-bottom: 1px solid var(--border-dark);
    }
    .pvm__body__footer-like-counter{
    
    }
    .pvm__body__footer-like-counter i{
        text-align: center;
        height: 22px;
        width: 22px;
        background: var(--color-primary);
        line-height: 20px;
        border-radius: 50%;
        margin-right: 6px;
    }
    
    .pvm__body__footer-cmt-counter{
    
    }
    .pvm__body__footer-option{
        display: flex;
        justify-content: space-between;
        margin: 0 12px;
        height: 44px;
        padding-bottom: 6px;
        align-items: center;
        border-bottom: 1px solid var(--border-dark);
    }
    .pvm__body__footer-option i {
        height: 13px;
        font-size: 1.5rem;
        width: 22px;
    }
    .pvm__body__footer-like i {
        height: 14px;
    }
    .pvm__body__footer-like,
    .pvm__body__footer-comment,
    .pvm__body__footer-share{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items:center;
        height: 100%;
        font-size: 1.4rem;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.2s ease;
    }
    .pvm__body__footer-comment {
        margin: 0 5px;
    }
    .pvm__body__footer-like:hover,
    .pvm__body__footer-comment:hover,
    .pvm__body__footer-share:hover {
        background: var(--navbar-dark-hover);
    }
    .pvm__body__footer-like--active {
        color: var(--color-primary);
        font-weight: 700;
    }

    .pvm__body__footer-comments-wrapper{
        position: relative;
        padding: 12px 12px 60px 12px;
    }
    .post-comment{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: start;
        margin: 6px 0;
    }
    .post-comment__avatar{
        position: relative;
        width: 40px;
        height: 40px;
    }
    .post-comment__avatar img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        border-radius: 50%;
    }
    .post-comment__main{
        position: relative;
        width: 100%;
        margin-left: 6px;
        background: var(--input-background-dark);
        padding: 6px 8px;
        border-radius: 12px;
        color: var(--text-color-dark);
    }
    .post-comment__main__name{
        color: var(--text-color-dark);
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .post-comment__main__name:hover {
        text-decoration: underline;
    }
    .post-comment__main__content{
        font-size: 1.3rem;
    }
    .post-comment__main__time{
        text-align: right;
    }
    .post-comment__main__footer{
    
    }

    /* editor comment */
    .pvm__body__comment-editer{
        position: fixed;
        display: flex;
        bottom: -1px;
        height: 48px;
        width: 100%;
        min-width: calc(var(--post-viewer-mobile-width) + 1px );
        padding: 4px 0px 4px 12px;
        background: var(--background-dark);
    }
    .post-comment-editer__avatar{
        display: flex;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
    }
    .post-comment-editer__avatar img {
        position: relative;
        object-fit: contain;
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
    .post-comment-editer__input-group {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0 6px;
        margin: 0;
    }
    .post-comment-editer__input{
        position: relative;
        float: left;
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        font-size: 1.4rem;
        padding-left: 12px;
        background: var(--input-background-dark);
        color: var(--text-color-dark);
    }
    .post-comment-editer__btn{
        display: inline-block;
        height: 100%;
        width: 20%;
        font-size: 1.6rem;
        line-height:40px;
        text-align: center;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background: var(--input-background-dark);
        cursor: pointer;
        transition: all 0.2s ease;
        border: none
    }
    .post-comment-editer__btn:hover {
        font-size: 2rem;
        color: var(--color-primary);
    }
}