/* Small screen ================================================================= */
@media screen and (max-width: 940px) {
    .profile{
        position: absolute;
        width: calc(100% - 8px);
        height: 100%;
        margin: 90px auto;
    }
    .profile__cover{
        display: block;
        position: absolute;
        height: 210px;
        width: 95%;
        margin: 5px 0;
        z-index: 9;
        left: 50%;
        transform: translateX(-50%);
    }
    .profile__cover img{
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 12px;
    }
    .profile__cover-btn {
        position: absolute;
        right: 22px;
        bottom: 18px;
        font-size: 1.4rem;
        background: var(--color-white);
        outline: none;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 8px 9px;
    }
    .profile__cover-btn span {
        display: none;
    }
    .profile__header{
        display: block;
        position: relative;
        background: linear-gradient(#A5ABA2,#242526, #242526);
    }
    .profile__header-spacing {
        height: calc(180px - 60px);
        position: relative;
    }
    .profile__header-info-wrapper{
        display: flex;
        flex-direction: column;
        position: relative;
        border-bottom: 1px solid var(--border-dark);
        align-items: center;
    }
    .profile__header-avatar{
        position: relative;
        display: block;
        height: 140px;
        width: 140px;
        z-index: 9;
    }
    .profile__header-avatar-img{
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 4px solid #242526;
    }
    .profile__header-avatar-btn{
        position: absolute;
        display: block;
        font-size: 1.4rem;
        right: 0px;
        bottom: 10px;
        color: var(--text-color-dark);
        background: #4E4F50;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        text-align: center;
        line-height: 32px;
    }
    .profile__header-avatar-btn:hover {
        background: #717273;
        cursor: pointer;
    }
    .profile__header-info{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        margin-left: 16px;
    }
    .profile__header-info-general{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .profile__header-info-name{
        color: var(--color-white);
        font-size: 2.3rem;
        font-weight: 700;
    }
    .profile__header-info-friends{
        color: var(--text-color-dark);
        font-size: 1.2rem;
        margin-top: 2px;
        text-decoration: none;
    }
    .profile__header-info-friends:hover {
        text-decoration: underline;
    }
    .profile__header-info-btn{
        position: relative;
        width: 200px;
        height: 26px;
        font-size: 1.2rem;
        background: #3a3a3a;
        color: var(--color-white);
        outline: none;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }
    .profile__header-info-btn:hover {
        background: var(--navbar-dark-hover);
    }
    .profile__header-info-btn i {
        margin-right: 6px;
    }
    .profile__header-tabs{
        display: flex;
        position: relative;
        top:0;
        height: 60px;
        max-width: calc(940px - 64px);
        margin: 0 auto;
        justify-content: space-between; 
        align-items: center;
    }
    .profile__header-tabs-list{
        display: flex;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 60px;
    }
    .profile__header-tabs-item{
        height: 52px;
        padding: 0 12px;
        font-size: 1.2rem;
        line-height: 52px;
        margin: 4px 0;
        border-radius: 6px;
        transition: all 0.2s ease;
        text-decoration: none;
        color: var(--text-color-dark);
    }
    .profile__header-tabs-item:hover {
        text-decoration: none;
    }
    .profile__header-tabs-item-link {
        color: inherit;
        text-decoration: none;
    }
    .profile__header-tabs-item--active {
        font-weight: 500;
        color: var(--color-primary);
        position: relative;
    }
    .profile__header-tabs-item--active:before {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: var(--color-primary);
        right: 0;
        bottom: -4px;
    }
    .profile__header-tabs-option{
        position: relative;
        height: 36px;
        width: 48px;
        color: var(--text-color-dark);
        background: #3a3a3a;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.2rem;
        text-align: center;
        line-height: 36px;
    }
    .profile__header-tabs-option:hover {
        background: var(--navbar-dark-hover);
    }
    .profile__header-tabs-option--active:hover {
        background: #3a3a3a;
    }
    .profile__header-tabs-option--active .profile__header-tabs-option-dropdown {
        display: block;
    }
    .profile__header-tabs-option-dropdown{
        position: absolute;
        display: none;
        margin: 0;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid var(--border-dark);
        width: 344px;
        top: 46px;
        left: 50%;
        transform: translateX(-50%);
        background: #242526;
        font-size: 1.4rem;
        font-weight: 500;
        z-index: 10;
    }
    .profile__header-tabs-option-dropdown-item{
        color: var(--text-color-dark);
        list-style: none;
        text-align: left;
        padding: 0 8px;
        cursor: pointer;
        border-radius: 4px;
        transition: all 0.2s ease;
    }
    .profile__header-tabs-option-dropdown-item:hover {
        background: var(--navbar-dark-hover);
    }
    .profile__header-tabs-option-dropdown-item a{
        color: inherit;
        text-decoration: none;
    }
    .profile__header-tabs-option-dropdown-item i {
        width: 26px;
        font-size: 1.6rem;
    }
    /* Profile body ================================================================= */
    .profile__body {
        position: relative;
        max-width: calc(940px - 64px);
        margin: 0 auto;
        margin: 12px 0;
    }
    .profile__body-left{
        position: relative;
        float: left;
        width: calc(40% - 6px);
        height: 100%;
        margin-right: 6px;
        display: none;
    }
    .profile__body-right{
        position: relative;
        float: right;
        width: calc(100% - 6px);
        height: 100%;
        margin: 0px 3px;
    }
    /* Profile body left ================================================================= */
    .profile__body-intro{
        position: relative;
        width: 100%;
        background: #242526;
        border-radius: 8px;
        padding: 16px;
    }
    .profile__body-intro-header{
        color: var(--text-color-dark);
        font-size: 2.2rem;
        font-weight: 700;
    }
    .profile__body-intro-item{
        display: flex;
        width: 100%;
        min-height: 32px;
        margin-top: 16px;
        color: var(--text-color-dark);
        font-size: 1.3rem;
        align-items: center;
    }
    .profile__body-intro-item i {
        width: 36px;
        font-size: 2.2rem;
    }
    .profile__body-intro-item span {
        display: flex;
        width: 100%;
        height: 100%;
    }
    .profile__body-intro-btn {
        margin-top: 12px;
        height: 32px;
        width: 100%;
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--text-color-dark);
        background: #3a3a3a;
        border: none;
        outline: none;
        border-radius: 4px;
    }
    .profile__body-intro-btn:hover {
        background: var(--navbar-dark-hover);
        cursor: pointer;
    }

    /* Profile body right ================================================================= */


}