:root {
    --color-white: #fff;
    --color-green: #36A420;
    --color-green-hover: #339121;
    --color-white-50: rgba(255, 255, 255, 0.5);
    --color-white-f8: #F8F8F8;
    --color-black: #000;
    --color-primary: #1877F2;
    --color-primary-hover: #1467d3;
    --text-color-light: #333;
    --text-color-light-hover: #1877F2;
    --background-light: #fff;
    --border-light: #ccc;
    --background-dark: #333;
    --text-color-dark: #fff;
    --input-background-color: #F5F6F7;
}
* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', 'sans-serif';
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}
.hidden {
    visibility: hidden;
    display: none;
    opacity: 0;
}
.show {
    display: block;
    opacity: 1;
}
/* 
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
}
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal__body {
    width: 500px;
    height: 400px;
    background: #fff;
    margin: auto;
    z-index: 9;
    border-radius: 8px;
} */