/* Small screen ===============================================================================*/
@media screen and (max-width: 940px) {
    .navbar{
        position: fixed;
        display: flex;
        max-height: 100px;
        flex-direction: column;
        width: 100%;
        background: var(--navbar-dark);
        justify-items: center;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--border-dark);
        padding: 0;
        user-select: none;
        z-index: 20;
    }
    .nav__brand{
        position: relative;
        display: none;
        order:1;
        width: 100%;
        justify-content: space-between;
    }
    .nav__brand-logo{
        width: 40px;
        height: 40px;
    }
    .nav__brand-logo img{
        width: 40px;
        height: 40px;
    }
    .nav__brand-search{
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 8px;
        height: 40px;
        max-width: 204px;
        background: #3f3f3f;
        border-radius: 20px;
        color: var(--text-color-dark);
    }
    .nav__brand-search-icon{
        font-size: 1.4rem;
        text-align: right;
        flex: 1.5;
    }
    .nav__brand-search-input{
        flex: 8.5;
        background: #3f3f3f;
        height: 100%;
        border: none;
        outline: none;
        font-size: 1.5rem;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-left: 6px;
        color: var(--text-color-dark);
    }
    .nav__menu{
        display: flex;
        list-style: none;
        font-size: 1.6rem;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        order: 3;
    }
    .nav__menu-item{
        display: flex;
        flex: 1;
        margin: 0 5px;
        height: 100%;
        color: var(--text-color-dark);
        justify-content: center;
        align-items: center;
    }
    .nav__menu-item span{
        height: 90%;
        width: 100%;
        color: inherit;
        text-decoration: none;
        text-align: center;
        line-height: 56px;
        border-radius: 8px;
        transition: all 0.2s ease;
    }
    .nav__menu-item span:hover {
        background: var(--navbar-dark-hover);
    }
    .nav__menu-item--active {
        border-bottom: 2px solid var(--color-primary);
        color: var(--color-primary);
    }
    .nav__menu-item--active:hover span{
        background: transparent;
    }

    .nav__tools{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        order:2;
    }
    .nav__tools a {
        text-decoration: none;
        color: inherit;
    }
    .nav__tools-user{
        display: flex;
        height: 36px;
        min-width: 110px;
        align-items: center;
        text-decoration: none;
        padding: 0 8px 0 4px;
        border-radius: 18px;
        transition: all 0.2s ease;
    }
    .nav__tools-user--active {
        background: #1876f271;
    }
    .nav__tools-user:hover {
        background: var(--navbar-dark-hover);
    }
    .nav__tools-user-avatar{
        width: 30px;
        height: 30px;
    }
    .nav__tools-user-avatar img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .nav__tools-user-name{
        margin-left: 6px;
        color: var(--text-color-dark);
        font-size: 1.3rem;
        font-weight: 700;
    }
    .nav__tools-list{
        display: flex;
        margin: 0;
        padding: 0;
        align-items: center;
        margin-left: 8px;
    }
    .nav__tools-item{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        font-size: 1.2rem;
        width: 25px;
        height: 25px; 
        background: #3f3f3f;
        border-radius: 50%;
        margin: 0 4px;
        cursor: pointer;
        color: var(--text-color-dark);
        transition: all .2s ease;
    }

    .nav__tools-item:hover {
        background: #636363;
    }
    .nav__tools-item--active {
        background: #1876f271;
        color: #1877F2;
    }
    .nav__tools-item i {
        line-height: 40px;
        color: inherit;
    }
    .nav__tools-item-counter {
        position: absolute;
        background: red;
        right: -1px;
        top: -4px;
        font-size: 0.8rem;
        color: var(--color-white);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        text-align: center;
        line-height: 12px;
    }
    /* Dropdown messenger/notification========================================================================= */
    .nav__tools-dropdown{
        display: block;
        /* display: none; */
        position: absolute;
        top: calc(100% + 6px);
        right: -40px;
        background: var(--navbar-dark);
        width: 200px;
        max-height: 400px;
        padding: 0 12px 12px 12px;
        border-radius: 8px;
        box-shadow: 1px 1px 10px 2px var(--border-dark);
        cursor: default;
        color: var(--text-color-dark);
        overflow: auto;
    }
    /* width */
    .nav__tools-dropdown::-webkit-scrollbar {
        width: 4px;
    }
    /* Track */
    .nav__tools-dropdown::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
    }
    /* Handle */
    .nav__tools-dropdown::-webkit-scrollbar-thumb {
        background: #6B6C6E; 
        border-radius: 10px;
    }
    /* Handle on hover */
    .nav__tools-dropdown::-webkit-scrollbar-thumb:hover {

    }
    .nav__tools-dropdown-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        height: 20px;
        margin-top: 8px;
    }
    .nav__tools-dropdown-header span {
        font-size: 1.4rem;
        font-weight: 700;
    }
    .nav__tools-dropdown-header-opt{ 
        display: flex;
        list-style: none;
        padding: 0;
        align-items: center;
    }
    .nav__tools-dropdown-header-opt>li {
        height: 20px;
        width: 20px;
        text-align: center;
        border-radius: 50%;
        margin: 0 3px;
    }
    .nav__tools-dropdown-header-opt i {
        line-height: 20px;
    }
    .nav__tools-dropdown-header-opt>li:hover {
        background: var(--navbar-dark-hover);
        cursor: pointer;
    }
    .nav__tools-dropdown-main{

    }
    .nav__tools-dropdown-search{
        position: relative;
        display: flex;
        height: 35px;
        width: 100%;
        background: #3f3f3f;
        padding-left: 10px;
        border-radius: 20px;
        align-items: center;
        font-size: 1rem;
        margin-top: 12px;
    }
    .nav__tools-dropdown-search input[type="text"] {
        height: 100%;
        width: 100%;
        background: #3f3f3f;
        outline: none;
        border: none;
        padding-left: 8px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .nav__tools-dropdown-list {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        padding: 0;
    }
    .nav__tools-dropdown-item{
        list-style: none;
        border-radius: 12px;
        transition: all 0.2s ease;
    }
    .nav__tools-dropdown-item:hover{
        background: var(--navbar-dark-hover);
    }
    .nav__tools-dropdown-item-link {
        display: flex;
        flex-direction: row;
        color: inherit;
        text-decoration: none;
        min-height: 40px;
        align-items: center;
        padding: 5px;
    }
    .nav__tools-dropdown-item-avatar{
        width: 30px;
        height: 30px;
    }
    .nav__tools-dropdown-item-avatar img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .nav__tools-dropdown-item-info{
        display: flex;
        margin-left: 12px;
        flex-direction: column;
        width: 100%;
    }
    .nav__tools-dropdown-item-info h4{
        padding: 0;
        margin: 0 0 4px 0;
        font-size: 1rem;
    }
    .nav__tools-dropdown-item-info span{
        padding: 0;
        margin: 0;
        font-size: 0.9rem;
    }


    /* nav__tools user-option =================================================================*/
    .nav__tools-user-option{
        display: block;
        /* display: none; */
        position: absolute;
        top: calc(100% + 5px);
        right: 10px;
        background: var(--navbar-dark);
        width: 220px;
        max-height: 400px;
        padding: 8px;
        border-radius: 8px;
        box-shadow: 1px 1px 10px 2px var(--border-dark);
        cursor: default;
        color: var(--text-color-dark);
    }
    .nav__tools-user-option h4 {
        margin: 0;
        font-size: 1.2rem;
    }
    .nav__tools-user-option span {
        font-size: 0.8rem;
        margin-top: 4px;
        font-weight: 300;
    }
    .nav__tools-user-option i {
        line-height: 30px;
    }
    .nav__tools-user-option-profile{
        display: flex;
        height: 42px;
        color: inherit;
        text-decoration: none;
        padding: 8px;
        border-radius: 8px;
    }
    .nav__tools-user-option-profile:hover {
        background: var(--navbar-dark-hover);
    }
    .nav__tools-option-img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .nav__tools-user-option-profile-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 12px;
    }
    /* report */
    .nav__tools-user-option-report-border {
        margin-top: 8px;
        border-top: 2px solid #3E4042;
        border-bottom: 1px solid #3E4042;
    }
    .nav__tools-user-option-report{
        display: flex;
        height: 34px;
        color: inherit;
        text-decoration: none;
        padding: 8px;
        align-items: center;
        margin: 8px 0;
        border-radius: 8px;
        transition: all 0.2 ease;
    }
    .nav__tools-user-option-report:hover {
        background: var(--navbar-dark-hover);
    }
    .nav__tools-user-option-report-icon{
        width: 30px;
        height: 30px;
        background: #4e4e4e;
        text-align: center;
        border-radius: 50%;
        margin-right: 12px;
    }   
    .nav__tools-user-option-item {
        display: flex;
        height: 38px;
        color: inherit;
        text-decoration: none;
        padding: 8px;
        align-items: center;
        border-radius: 8px;
    }
    
    .nav__tools-user-option-item:hover {
        background: var(--navbar-dark-hover);
    }
}