.menu {
    min-width: 200px;
    top: 56px;
    position: fixed;
    background: #242526;
    align-items: center;
    z-index: 9;
}

.menu-item {
    display: block;
    margin: 5px 0 5px 5px;
    padding: 2px;
    height: 45px;
    transition: all .3s ease;
    border-radius: 45px 0px 0px 45px;
}
.menu-item:hover {
    cursor: pointer;
    background: #707070;
    color: #000;
}
.menu-item p {
    padding: 5px 10px;
    margin: auto;
}
.active{
    background-color:#707070; 
    border-radius: 45px 0px 0px 45px;
}
