* {
  margin : 0;
  padding : 0;
}

.user-profile-item {
  display: flex;
  padding: 2px;
  margin-right: 5px;
  align-items: center;
}
.user-profile-item .username {
  margin: 0px 0px 0px 5px;
  padding: 0 5px 5px 5px;
}
.app__blue-tick {
  font-size: 12px;
  color: #117BF7;
}

.user-profile-item img {
  object-fit: cover;
  margin-left: 12px;
  border-radius :50%;
  border: 1px solid rgb(48, 155, 255);
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.pointer {
  cursor: pointer;
}
#circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
width: 150px;
  height: 150px;	
}

.loader {
  width: calc(100% - 0px);
height: calc(100% - 0px);
border: 8px solid #37383a;
border-top: 8px solid #09f;
border-radius: 50%;
animation: rotate 5s linear infinite;
}


@keyframes rotate {
100% {transform: rotate(360deg);}
} 
