* {
  margin : 0;
  padding : 0;
}

.user-profile-item {
  display: flex;
  padding: 2px;
}
.user-profile-item .username {
  margin: 0px 0px 0px 5px;
  padding: 5px;
}
.user-profile-item img {
  margin-left: 12px;
  border-radius :50%;
  border: 1px solid rgb(48, 155, 255);
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.pointer {
  cursor: pointer;
}
